@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Overpass&family=PT+Sans+Narrow&family=Source+Sans+Pro&display=swap');

/*

    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;

*/



.product-nav-content{
    width: 100%;
    height: 70px;
    background-color: rgb(14, 28, 68);
}
.product-nav-content .left-side{
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin-top: -5px;
}
.product-nav-content .right-side{
    margin-top: -35px;
    margin-left: 90%;
}
.product-nav-content .right-side .product-nav-btn{
    padding: 5px 10px;
    width: 150px;
    border: 2px solid white;
    background: transparent;
    transition: 0.5s;
    border-radius: 2px;
    color: white;
}
.product-nav-content .right-side .product-nav-btn:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
.all-product-contant{
    padding: 100px 0;
    background-color: rgb(21, 19, 29);
    color: white;
}
.all-product-contant .title{
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 50px;
}
.all-product-contant .body{
    font-family: 'Merriweather Sans', sans-serif;
}
.product-grid{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(350px, auto);
    grid-gap: 1rem;
    grid-template-areas: "a b c d";
    padding: 45 45 45 45;
    margin-bottom: 5px;
}
.pitem1{
    border: 2px solid rgb(156, 156, 156);
    border-radius: 5px;
    padding: 20px;
}
.pitem1 .title{
    font-size: 20px;
    padding-bottom: 20px;
}
.pitem1 .product-img{
    width: 200px;
    height: auto;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
}
.pitem1 .body .product-price{
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.pitem1 .body .in-stock{
    color: green;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 15px;
}
.pitem1 .body .product-book-btn{
    width: 100%;
    height: 40px;
    background: transparent;
    color: white;
    transition: 0.5s;
    border-radius: 2px;
    border: 1px solid white;
}
.pitem1 .body .product-book-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 600;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app {
    display: flex;
    min-height: 100vh;
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #464646;
    cursor: pointer;
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger>span,
.hamburger>span::before,
.hamburger>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #FFF;
    transition-duration: .25s;
}

.hamburger>span::before {
    content: '';
    top: -8px;
}

.hamburger>span::after {
    content: '';
    top: 8px;
}

.menu-toggle.is-active .hamburger>span {
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger>span::before {
    top: 0;
    transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger>span::after {
    top: 0;
    transform: rotate(90deg);
}

.sidebar {
    flex: 1 1 0;
    max-width: 300px;
    padding: 2rem 1rem;
    background-color: #313131;
    border-top: 1px solid white;
}

.sidebar h3 {
    color: #707793;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.sidebar .menu {
    margin: 0 -1rem;
}

.sidebar .menu .menu-item {
    display: block;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
    text-decoration: none;
    transition: 0.2s linear;
    font-size: 20px;
}

.sidebar .menu i {
    margin-right: 15px;
}

.sidebar .menu .menu-item:hover {
    background-color: white;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(31, 21, 165, 0.678), 0 3px 10px 0 rgba(31, 21, 165, 0.678);
}

.sidebar .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 80px;
    margin-bottom: 20px;
    border: 3px solid white;
    align-items: center;
}

.sidebar .profile-name {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-left: -15%;
}

.admin-content {
    z-index: -1;
}

.content {
    flex: 1 1 0;
    padding: 2rem;
}

.content h1 {
    color: #3C3F58;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.content p {
    color: #707793;
}

.admin-content {
    margin-top: 15px
}

.admin-content .grid {
    display: grid;
    min-width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 1rem;
    grid-template-areas: "a b c d" "e f g h";
}

.admin-item1 {
    grid-area: a;
    height: 200px;
    border: none;
    border-radius: 5px;
    background: none;
    border: 1px solid rgb(29, 152, 235);
    font-size: 25px;
    color: rgb(29, 152, 235);
    font-family: 'Bebas Neue', cursive;
}

.admin-item2 {
    grid-area: b;
    height: 200px;
    border: none;
    border-radius: 5px;
    background: none;
    border: 1px solid #50be50;
    font-size: 25px;
    color: #50be50;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.admin-item3 {
    grid-area: c;
    height: 200px;
    border: none;
    border-radius: 5px;
    background: none;
    border: 1px solid #f09712;
    font-size: 25px;
    color: #f09712;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.admin-hr {
    border-top: 1px solid #f09712;
}

.admin-item4 {
    grid-area: d;
    height: 200px;
    border: none;
    border-radius: 5px;
    background: none;
    border: 1px solid #50be50;
    font-size: 25px;
    color: #50be50;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.qui-hr {
    border-top: 1px solid #50be50;
}

.admin-title {
    padding-top: 20px;
    padding-left: 30px;
}

.admin-body {
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
}
.loged-nav-content{
    width: 100%;
    height: 70px;
    padding: 0 50px;
    background-color: #363636;
    color: white;
}

.loged-nav-content .left-side{
    padding-top: 20px;
    font-size: 25px;
}
.loged-nav-content .right-side{
    margin-left: 93%;
    margin-top: -40px;
}
.logout-btn{
    padding: 5px 10px;
    width: 100px;
    background: transparent;
    border: 2px solid red;
    color: red;
    border-radius: 2px;
    transition: 0.5s;
}
.logout-btn:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
.input-feild{
    height: 40px;
    width: 250px;
    margin-left: 20px;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid rgb(211, 211, 211);
    margin-top: 10px;
}
.input-area{
    height: 100px;
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;
    resize: none;
    border: 1px solid rgb(211, 211, 211);
    padding: 5px 10px;
}
.user_type_b{
    border: none;
    background-color: orange;
    color: black;
    padding: 5px 10px;
    margin-left: 20px;
    border-radius: 2px;
    margin-left: 20px;
}
.user_pending_b{
    border: none;
    background-color: rgb(40, 107, 207);
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
}
.user_not_pending_b, .user_active_b{
    border: none;
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    margin-left: 20px;
}
.user_deactive_b{
    border: none;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    margin-left: 20px; 
}
.user-data-edit-btn{
    margin-top: 20px;
    padding: 10px 20px;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(43, 137, 245);
    color: white;
    border: none;
    transition: 0.5s;
}
.user-data-edit-btn:hover{
    background-color: rgb(31, 102, 184);
    cursor: pointer;
}
.pass-edit-btn, .email-edit-btn{
    margin-top: 20px;
    width: 400px;
    padding: 10px 10px;
    color: white;
    border: none;
    transition: 0.5s;
    border-radius: 5px;
}
.pass-edit-btn{
    background-color: rgb(255, 50, 50);
}
.email-edit-btn{
    background-color: rgb(255, 172, 19);
    color: black;
}

.pass-edit-btn:hover{
    background-color: rgb(216, 26, 26);
    cursor: pointer;
}

.email-edit-btn:hover{
    background-color: rgb(197, 132, 11);
    cursor: pointer;
}
.edit-data-btn{
    margin-top: 30px;
    width: 60%;
    height: 40px;
    border-radius: 2px;
    border: none;
    background-color: rgb(16, 156, 16);
    color: white;
}
.edit-data-btn:hover{
    
}
 /* 
    ***************************************************************************************

                             commen laptop screen and small screens

                                            769px - 1400px

    ***************************************************************************************
*/

@media only screen and (min-device-width: 821px) and (max-device-width: 1400px) {
    .menu-toggle {
        display: block;
    }
    .content {
        padding-top: 8rem;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;
    }
    .sidebar.is-active {
        left: 0;
    }
}

/* 
    ***************************************************************************************

                                        iPads, Tablets

                                        481px — 768px

    ***************************************************************************************
*/

@media only screen and (min-device-width: 481px) and (max-device-width: 820px) {
    .product-nav-content .right-side{
        margin-top: -35px;
        margin-left: 80%;
    }
    .product-grid{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(350px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a b" "c d";
        padding: 45 45 45 45;
        margin-bottom: 5px;
    }
    .pitem1 .product-img{
        width: 250px;
        height: auto;
        border: 1px solid white;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .menu-toggle {
        display: block;
    }
    .content {
        padding-top: 8rem;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;
    }
    .sidebar.is-active {
        left: 0;
    }
    .admin-content .grid {
        display: grid;
        min-width: 80%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a b" "c d" "e f" "g h";
    }
    .admin-item1,
    .admin-item2,
    .admin-item3,
    .admin-item4,
    .admin-item5,
    .admin-item6,
    .admin-item7,
    .admin-item8 {
        width: 300px;
    }
    .loged-nav-content .right-side{
        margin-left: 90%;
        margin-top: -40px;
    }
    
}

/* 
    ***************************************************************************************

                                     commen mobile screen

                                            320x480

    ***************************************************************************************
*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .product-nav-content .right-side{
        margin-top: -35px;
        margin-left: 58%;
    }
    .product-grid{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(350px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a" "b" "c" "d";
        padding: 45 45 45 45;
        margin-bottom: 5px;
    }
    .pitem1 .product-img{
        width: 210px;
        height: auto;
        border: 1px solid white;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .menu-toggle {
        display: block;
    }
    .content {
        padding-top: 8rem;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: -300px;
        height: 100%;
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;
    }
    .sidebar.is-active {
        left: 0;
    }
    .admin-content .grid {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h";
    }
    .admin-item1,
    .admin-item2,
    .admin-item3,
    .admin-item4,
    .admin-item5,
    .admin-item6,
    .admin-item7,
    .admin-item8 {
        width: 300px;
    }  
    .loged-nav-content .right-side{
        margin-left: 79%;
        margin-top: -40px;
    }  
    .input-feild{
        height: 40px;
        width: 200px;
        margin-left: 0;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid rgb(211, 211, 211);
        margin-top: 10px;
    }
    .input-area{
        height: 100px;
        width: 200px;
        margin-left: 0;
        margin-top: 10px;
        resize: none;
        border: 1px solid rgb(211, 211, 211);
        padding: 5px 10px;
    }
    .pass-edit-btn, .email-edit-btn, .user-data-edit-btn{
        width: 300px;
    }
}
